{% load static %}
<head>
  <title>Mistify - A Playlist for Every Mood</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}"
</head>

<body>
  <div class="background" style="background-image: url('{{ bg_url }}')">
    <h2>Mistify</h2>

    <form method="POST" action="{% url 'place_list' %}">
      {% csrf_token %}
      <table border="1">
        {{ new_place_form }}
        <h1><u>Weather</u></h1><br>
        <b>Description:</b> {{ w_desc }}<br><br>
        <b>Temperature: {{ temp }}°F</b><br>
        <br>
      </table>
      <button type="submit">Submit</button>
    </form><br>

    {% for place in places %}

    <div class="places">
      <table border="1">
        {{ place }}
      </table>
    </div>

    {% endfor %}

    <br>
    <div class="spotify">
      <iframe src="https://open.spotify.com/embed/playlist/{{ playlist_uri }}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
</body>
